*{
    padding: 0px;
    margin: 0px;
    display: flexbox;
}

body{
    font-family: 'Calibri';
    color: black;
    background: linear-gradient(90deg, rgb(93, 93, 235), whitesmoke);
}

header{
    margin: 3px;
    padding: 5px;
    font-family: 'Helvetica';
    display: inline-block;
    font-size: 23px;
}

button{
    z-index: 1;
    margin: 3px;
    border-radius: 50%;
    border: hidden;
    background: none;
    cursor: pointer;
    position: fixed;
    right: 7px;
}

button:hover{
    transform: scale(1.3) translateY(5px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}

input{
    z-index: 1;
    margin: 3px;
    background: rgb(230, 221, 221);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 25px;
    padding: 10px;
    overflow: hidden;
    color: black;
    height: 20px;
    width: 200px;
    position: fixed;
    right: 64px;
    font-family: 'Courier New', Courier, monospace;
}

input:hover{
    background: rgb(243, 238, 238);
    border: 1px dashed black;
    transform: scale(1.1);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    animation: open 0.5s linear;
}


main{
    padding: 5px;
    margin: 3px;
    margin-top: 20px;
    font-family: 'Calibri';
    position: relative;
    text-align: center;
}

article{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    font-size: small;
    border: 1px solid black;
    background: rgb(230, 221, 221);
    text-align: justify;
}

aside{
    padding: 3px;
    margin: 10px;
    background: rgb(218, 117, 117);
    text-align: justify;
    font-size: larger;
    border: 1px solid black;
    border-radius: 20px;
}

video{
    margin: 20px;
    bottom: 10px;
    border-radius: 5px;
    border: 1px dashed white;
}